In [3]:
import mysql.connector
import pandas as pd

/tmp/ipykernel_6267/4215133018.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
local = mysql.connector.connect(
    # host = "localhost",
    user = "root",
    password = 'asdf'
)

In [7]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234'
)

In [10]:
local.close()

In [11]:
remote.close()

In [16]:
local = mysql.connector.connect(
    host = "localhost",
    port = '3306',
    user = "root",
    password = 'asdf',
    database = 'armbase'
)

local.close()

In [18]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

remote.close()

In [20]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

cur = remote.cursor()
cur.execute("CREATE TABLE sql_file (id int, filename varchar(16))")

remote.close()

In [21]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

cur = remote.cursor()
cur.execute("DROP TABLE sql_file")

remote.close()

In [24]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

cur = remote.cursor()
sql = open('../test03.sql').read()
cur.execute(sql)

remote.close()

In [25]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

cur = remote.cursor()
sql = open('../test04.sql').read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else :
        print(result_iterator.statement)

remote.commit()
remote.close()

insert into sql_file values (1, "test01.sql")
insert into sql_file values (2, "test02.sql")
insert into sql_file values (3, "test03.sql")
insert into sql_file values (4, "test04.sql")

In [27]:
remote = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

cur = remote.cursor(buffered=True)
cur.execute("select * from sql_file")

result =cur.fetchall()
for result_iterator in result:
        print(result_iterator)

remote.close()

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

In [28]:
import pandas as pd
df=pd.DataFrame(result)
df.head()

/tmp/ipykernel_5438/117678987.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql

In [19]:
df = pd.read_csv("../../data/police_station.csv")
df.head()

   서울특별시경찰청       서울시 종로구 사직로8길 31
0   서울중부경찰서        서울특별시 중구 수표로 27
1   서울종로경찰서       서울특별시 종로구 율곡로 46
2  서울남대문경찰서      서울특별시 중구 한강대로 410
3  서울서대문경찰서     서울특별시 서대문구 통일로 113
4   서울혜화경찰서  서울특별시 종로구 창경궁로 112-16

In [11]:
conn = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

# cursor = conn.cursor(Buffered=True)
# sql = "INSERT INTO police_station VALUES (%s, %s)"


# remote.close()

In [14]:
cursor = conn.cursor(buffered=True)
sql = "INSERT INTO police_station VALUES (%s, %s)"

In [17]:
sql

'INSERT INTO police_station VALUES (%s, %s)'

In [23]:
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

('서울중부경찰서', '서울특별시 중구 수표로 27')
('서울종로경찰서', '서울특별시 종로구 율곡로 46')
('서울남대문경찰서', '서울특별시 중구 한강대로 410')
('서울서대문경찰서', '서울특별시 서대문구 통일로 113')
('서울혜화경찰서', '서울특별시 종로구 창경궁로 112-16')
('서울용산경찰서', '서울특별시 용산구 원효로89길 24')
('서울성북경찰서', '서울특별시 성북구 보문로 170')
('서울동대문경찰서', '서울특별시 동대문구 약령시로 21길 29')
('서울마포경찰서', '서울특별시 마포구 마포대로 183')
('서울영등포경찰서', '서울특별시 영등포구 국회대로 608')
('서울성동경찰서', '서울특별시 성동구 왕십리광장로 9')
('서울동작경찰서', '서울특별시 동작구 노량진로 148')
('서울광진경찰서', '서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)')
('서울서부경찰서', '서울특별시 은평구 은평로9길 15')
('서울강북경찰서', '서울특별시 강북구 오패산로 406')
('서울금천경찰서', '서울특별시 관악구 남부순환로 1435')
('서울중랑경찰서', '서울특별시 중랑구 중랑역로 137')
('서울강남경찰서', '서울특별시 강남구 테헤란로 114길 11')
('서울관악경찰서', '서울특별시 관악구 관악로5길 33')
('서울강서경찰서', '서울특별시 양천구 화곡로 73')
('서울강동경찰서', '서울특별시 강동구 성내로 33')
('서울종암경찰서', '서울특별시 성북구 종암로 135')
('서울구로경찰서', '서울특별시 구로구 가마산로 235')
('서울서초경찰서', '서울특별시 서초구 반포대로 179')
('서울양천경찰서', '서울특별시 양천구 목동동로 99')
('서울송파경찰서', '서울특별시 송파구 중대로 221')
('서울노원경찰서', '서울특별시 노원구 노원로 283')
('서울방배경찰서', '서울특별시 서초구 방배천로 54')
('서울도봉경찰서', '서울특별시 도봉구 노해로 403')
('서울수서경찰서', '서울특별시 강남구 개포로 617')
('서울은평경찰서', '서울특별시 은평구 연서로 365')

In [25]:
cursor.execute("select * from police_station")

result = cursor.fetchall()
for row in result : 
    print(row)

('서울중부경찰서', '서울특별시 중구 수표로 27')
('서울종로경찰서', '서울특별시 종로구 율곡로 46')
('서울남대문경찰서', '서울특별시 중구 한강대로 410')
('서울서대문경찰서', '서울특별시 서대문구 통일로 113')
('서울혜화경찰서', '서울특별시 종로구 창경궁로 112-16')
('서울용산경찰서', '서울특별시 용산구 원효로89길 24')
('서울성북경찰서', '서울특별시 성북구 보문로 170')
('서울동대문경찰서', '서울특별시 동대문구 약령시로 21길 29')
('서울마포경찰서', '서울특별시 마포구 마포대로 183')
('서울영등포경찰서', '서울특별시 영등포구 국회대로 608')
('서울성동경찰서', '서울특별시 성동구 왕십리광장로 9')
('서울동작경찰서', '서울특별시 동작구 노량진로 148')
('서울광진경찰서', '서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)')
('서울서부경찰서', '서울특별시 은평구 은평로9길 15')
('서울강북경찰서', '서울특별시 강북구 오패산로 406')
('서울금천경찰서', '서울특별시 관악구 남부순환로 1435')
('서울중랑경찰서', '서울특별시 중랑구 중랑역로 137')
('서울강남경찰서', '서울특별시 강남구 테헤란로 114길 11')
('서울관악경찰서', '서울특별시 관악구 관악로5길 33')
('서울강서경찰서', '서울특별시 양천구 화곡로 73')
('서울강동경찰서', '서울특별시 강동구 성내로 33')
('서울종암경찰서', '서울특별시 성북구 종암로 135')
('서울구로경찰서', '서울특별시 구로구 가마산로 235')
('서울서초경찰서', '서울특별시 서초구 반포대로 179')
('서울양천경찰서', '서울특별시 양천구 목동동로 99')
('서울송파경찰서', '서울특별시 송파구 중대로 221')
('서울노원경찰서', '서울특별시 노원구 노원로 283')
('서울방배경찰서', '서울특별시 서초구 방배천로 54')
('서울도봉경찰서', '서울특별시 도봉구 노해로 403')
('서울수서경찰서', '서울특별시 강남구 개포로 617')
('서울은평경찰서', '서울특별시 은평구 연서로 365')

In [27]:
df = pd.DataFrame(result)
df

           0                                   1
0    서울중부경찰서                     서울특별시 중구 수표로 27
1    서울종로경찰서                    서울특별시 종로구 율곡로 46
2   서울남대문경찰서                   서울특별시 중구 한강대로 410
3   서울서대문경찰서                  서울특별시 서대문구 통일로 113
4    서울혜화경찰서               서울특별시 종로구 창경궁로 112-16
5    서울용산경찰서                 서울특별시 용산구 원효로89길 24
6    서울성북경찰서                   서울특별시 성북구 보문로 170
7   서울동대문경찰서              서울특별시 동대문구 약령시로 21길 29
8    서울마포경찰서                  서울특별시 마포구 마포대로 183
9   서울영등포경찰서                 서울특별시 영등포구 국회대로 608
10   서울성동경찰서                  서울특별시 성동구 왕십리광장로 9
11   서울동작경찰서                  서울특별시 동작구 노량진로 148
12   서울광진경찰서  서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)
13   서울서부경찰서                  서울특별시 은평구 은평로9길 15
14   서울강북경찰서                  서울특별시 강북구 오패산로 406
15   서울금천경찰서                서울특별시 관악구 남부순환로 1435
16   서울중랑경찰서                  서울특별시 중랑구 중랑역로 137
17   서울강남경찰서              서울특별시 강남구 테헤란로 114길 11
18   서울관악경찰서                  서울특별시 관악구 관악로5길 33
19   서울강서경찰서                    서울특별시 양천구 화곡로 73
20   서울강동경찰서                    서울특별시 강동구 성내로 33
21   서울종암경찰서                   서울특별시 성북구 종암로 135
22   서울구로경찰서                  서울특별시 구로구 가마산로 235
23   서울서초경찰서                  서울특별시 서초구 반포대로 179
24   서울양천경찰서                   서울특별시 양천구 목동동로 99
25   서울송파경찰서                   서울특별시 송파구 중대로 221
26   서울노원경찰서                   서울특별시 노원구 노원로 283
27   서울방배경찰서                   서울특별시 서초구 방배천로 54
28   서울도봉경찰서                   서울특별시 도봉구 노해로 403
29   서울수서경찰서                   서울특별시 강남구 개포로 617
30   서울은평경찰서                   서울특별시 은평구 연서로 365

In [29]:
df = pd.read_csv('../../data/2020_crime.csv', encoding='euc-kr')
df.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [30]:
conn.close()

In [31]:
conn = mysql.connector.connect(
    host = 'database-1.cb2iuock61zt.ap-northeast-2.rds.amazonaws.com',
    port = 3306,
    user =  'root',
    password = 'asdf1234',
    database = 'amrdb'
)

In [40]:
df= pd.read_csv('../../data/2020_crime.csv', encoding='euc-kr')
df.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [36]:
sql = """insert into crime_status values ("2020",%s,%s,%s,%s)""" #따옴표를 세 개씩 (""") 사용하는 것은 여러 줄에 걸친 문자열을 정의하는 Python의 표준 문법
cursor = conn.cursor(buffered=True)

In [41]:
df.iterrows()

In [42]:
for i , row in df.iterrows(): #iterrows()는 DataFrame의 각 행을 (인덱스, 행 데이터)의 튜플로 반환
    cursor.execute(sql, tuple(row)) # execute 메서드를 호출하여 SQL 쿼리를 실행하고, 튜플의 값이 쿼리에 매개변수로 전달되어 데이터베이스에 레코드를 추가
    print(tuple(row))
    conn.commit()

('중부', '살인', '발생', 1)
('중부', '살인', '검거', 1)
('중부', '강도', '발생', 3)
('중부', '강도', '검거', 4)
('중부', '강간,추행', '발생', 113)
('중부', '강간,추행', '검거', 76)
('중부', '절도', '발생', 943)
('중부', '절도', '검거', 495)
('중부', '폭력', '발생', 997)
('중부', '폭력', '검거', 830)
('종로', '살인', '발생', 9)
('종로', '살인', '검거', 6)
('종로', '강도', '발생', 4)
('종로', '강도', '검거', 4)
('종로', '강간,추행', '발생', 115)
('종로', '강간,추행', '검거', 93)
('종로', '절도', '발생', 602)
('종로', '절도', '검거', 284)
('종로', '폭력', '발생', 964)
('종로', '폭력', '검거', 792)
('남대문', '살인', '발생', 1)
('남대문', '살인', '검거', 1)
('남대문', '강도', '발생', 2)
('남대문', '강도', '검거', 2)
('남대문', '강간,추행', '발생', 73)
('남대문', '강간,추행', '검거', 52)
('남대문', '절도', '발생', 699)
('남대문', '절도', '검거', 368)
('남대문', '폭력', '발생', 579)
('남대문', '폭력', '검거', 494)
('서대문', '살인', '발생', 3)
('서대문', '살인', '검거', 3)
('서대문', '강도', '발생', 2)
('서대문', '강도', '검거', 1)
('서대문', '강간,추행', '발생', 159)
('서대문', '강간,추행', '검거', 149)
('서대문', '절도', '발생', 1077)
('서대문', '절도', '검거', 524)
('서대문', '폭력', '발생', 1292)
('서대문', '폭력', '검거', 1029)
('혜화', '살인', '발생', 0)
('혜화', '살인', '검거', 0)
('혜화', '강도', '발생', 3)
('혜화', '강도', '검거', 3)
('혜화', '강간,추행', '발생', 77)
('혜화', '강간,추행', '검거', 53)
('혜화', '절도', '발생', 581)
('혜화', '절도', '검거', 310)
('혜화', '폭력', '발생', 747)
('혜화', '폭력', '검거', 628)
('용산', '살인', '발생', 5)
('용산', '살인', '검거', 3)
('용산', '강도', '발생', 6)
('용산', '강도', '검거', 6)
('용산', '강간,추행', '발생', 230)
('용산', '강간,추행', '검거', 186)
('용산', '절도', '발생', 1111)
('용산', '절도', '검거', 534)
('용산', '폭력', '발생', 1617)
('용산', '폭력', '검거', 1327)
('성북', '살인', '발생', 0)
('성북', '살인', '검거', 0)
('성북', '강도', '발생', 2)
('성북', '강도', '검거', 2)
('성북', '강간', '발생', 95)
('성북', '강간', '검거', 77)
('성북', '절도', '발생', 439)
('성북', '절도', '검거', 233)
('성북', '폭력', '발생', 672)
('성북', '폭력', '검거', 610)
('동대문', '살인', '발생', 10)
('동대문', '살인', '검거', 8)
('동대문', '강도', '발생', 6)
('동대문', '강도', '검거', 5)
('동대문', '강간,추행', '발생', 161)
('동대문', '강간,추행', '검거', 142)
('동대문', '절도', '발생', 1440)
('동대문', '절도', '검거', 713)
('동대문', '폭력', '발생', 1784)
('동대문', '폭력', '검거', 1597)
('마포', '살인', '발생', 9)
('마포', '살인', '검거', 8)
('마포', '강도', '발생', 4)
('마포', '강도', '검거', 3)
('마포', '강간,추행', '발생', 348)
('마포', '강간,추행', '검거', 287)
('마포', '절도', '발생', 1483)
('마포', '절도', '검거', 679)
('마포', '폭력', '발생', 1844)
('마포', '폭력', '검거', 1557)
('영등포', '살인', '발생', 7)
('영등포', '살인', '검거', 4)
('영등포', '강도', '발생', 6)
('영등포', '강도', '검거', 5)
('영등포', '강간,추행', '발생', 315)
('영등포', '강간,추행', '검거', 252)
('영등포', '절도', '발생', 2188)
('영등포', '절도', '검거', 953)
('영등포', '폭력', '발생', 2701)
('영등포', '폭력', '검거', 2157)
('성동', '살인', '발생', 5)
('성동', '살인', '검거', 5)
('성동', '강도', '발생', 3)
('성동', '강도', '검거', 3)
('성동', '강간,추행', '발생', 115)
('성동', '강간,추행', '검거', 98)
('성동', '절도', '발생', 1016)
('성동', '절도', '검거', 565)
('성동', '폭력', '발생', 1223)
('성동', '폭력', '검거', 1103)
('동작', '살인', '발생', 1)
('동작', '살인', '검거', 1)
('동작', '강도', '발생', 1)
('동작', '강도', '검거', 2)
('동작', '강간,추행', '발생', 226)
('동작', '강간,추행', '검거', 121)
('동작', '절도', '발생', 1341)
('동작', '절도', '검거', 592)
('동작', '폭력', '발생', 1631)
('동작', '폭력', '검거', 1370)
('광진', '살인', '발생', 2)
('광진', '살인', '검거', 2)
('광진', '강도', '발생', 4)
('광진', '강도', '검거', 4)
('광진', '강간,추행', '발생', 255)
('광진', '강간,추행', '검거', 224)
('광진', '절도', '발생', 1664)
('광진', '절도', '검거', 874)
('광진', '폭력', '발생', 1676)
('광진', '폭력', '검거', 1407)
('서부', '살인', '발생', 3)
('서부', '살인', '검거', 3)
('서부', '강도', '발생', 3)
('서부', '강도', '검거', 2)
('서부', '강간,추행', '발생', 76)
('서부', '강간,추행', '검거', 71)
('서부', '절도', '발생', 532)
('서부', '절도', '검거', 322)
('서부', '폭력', '발생', 748)
('서부', '폭력', '검거', 667)
('강북', '살인', '발생', 9)
('강북', '살인', '검거', 8)
('강북', '강도', '발생', 5)
('강북', '강도', '검거', 4)
('강북', '강간,추행', '발생', 159)
('강북', '강간,추행', '검거', 132)
('강북', '절도', '발생', 780)
('강북', '절도', '검거', 490)
('강북', '폭력', '발생', 1817)
('강북', '폭력', '검거', 1625)
('금천', '살인', '발생', 4)
('금천', '살인', '검거', 4)
('금천', '강도', '발생', 7)
('금천', '강도', '검거', 6)
('금천', '강간,추행', '발생', 117)
('금천', '강간,추행', '검거', 93)
('금천', '절도', '발생', 999)
('금천', '절도', '검거', 553)
('금천', '폭력', '발생', 1471)
('금천', '폭력', '검거', 1310)
('중랑', '살인', '발생', 10)
('중랑', '살인', '검거', 9)
('중랑', '강도', '발생', 5)
('중랑', '강도', '검거', 6)
('중랑', '강간,추행', '발생', 183)
('중랑', '강간,추행', '검거', 153)
('중랑', '절도', '발생', 1506)
('중랑', '절도', '검거', 889)
('중랑', '폭력', '발생', 2022)
('중랑', '폭력', '검거', 1724)
('강남', '살인', '발생', 5)
('강남', '살인', '검거', 3)
('강남', '강도', '발생', 12)
('강남', '강도', '검거', 10)
('강남', '강간,추행', '발생', 513)
('강남', '강간,추행', '검거', 433)
('강남', '절도', '발생', 1941)
('강남', '절도', '검거', 1016)
('강남', '폭력', '발생', 2283)
('강남', '폭력', '검거', 1911)
('관악', '살인', '발생', 12)
('관악', '살인', '검거', 12)
('관악', '강도', '발생', 3)
('관악', '강도', '검거', 3)
('관악', '강간,추행', '발생', 403)
('관악', '강간,추행', '검거', 351)
('관악', '절도', '발생', 2229)
('관악', '절도', '검거', 1137)
('관악', '폭력', '발생', 2614)
('관악', '폭력', '검거', 2355)
('강서', '살인', '발생', 10)
('강서', '살인', '검거', 9)
('강서', '강도', '발생', 6)
('강서', '강도', '검거', 5)
('강서', '강간,추행', '발생', 265)
('강서', '강간,추행', '검거', 222)
('강서', '절도', '발생', 1689)
('강서', '절도', '검거', 1070)
('강서', '폭력', '발생', 2445)
('강서', '폭력', '검거', 2087)
('강동', '살인', '발생', 3)
('강동', '살인', '검거', 3)
('강동', '강도', '발생', 15)
('강동', '강도', '검거', 14)
('강동', '강간,추행', '발생', 188)
('강동', '강간,추행', '검거', 167)
('강동', '절도', '발생', 1640)
('강동', '절도', '검거', 781)
('강동', '폭력', '발생', 1942)
('강동', '폭력', '검거', 1697)
('종암', '살인', '발생', 4)
('종암', '살인', '검거', 4)
('종암', '강도', '발생', 1)
('종암', '강도', '검거', 0)
('종암', '강간', '발생', 47)
('종암', '강간', '검거', 44)
('종암', '절도', '발생', 549)
('종암', '절도', '검거', 347)
('종암', '폭력', '발생', 758)
('종암', '폭력', '검거', 630)
('구로', '살인', '발생', 6)
('구로', '살인', '검거', 6)
('구로', '강도', '발생', 5)
('구로', '강도', '검거', 5)
('구로', '강간,추행', '발생', 197)
('구로', '강간,추행', '검거', 142)
('구로', '절도', '발생', 1763)
('구로', '절도', '검거', 1008)
('구로', '폭력', '발생', 2204)
('구로', '폭력', '검거', 1823)
('서초', '살인', '발생', 4)
('서초', '살인', '검거', 4)
('서초', '강도', '발생', 5)
('서초', '강도', '검거', 3)
('서초', '강간,추행', '발생', 333)
('서초', '강간,추행', '검거', 253)
('서초', '절도', '발생', 1673)
('서초', '절도', '검거', 801)
('서초', '폭력', '발생', 1750)
('서초', '폭력', '검거', 1415)
('양천', '살인', '발생', 5)
('양천', '살인', '검거', 5)
('양천', '강도', '발생', 3)
('양천', '강도', '검거', 3)
('양천', '강간', '발생', 109)
('양천', '강간', '검거', 90)
('양천', '절도', '발생', 1517)
('양천', '절도', '검거', 718)
('양천', '폭력', '발생', 1582)
('양천', '폭력', '검거', 1270)
('송파', '살인', '발생', 6)
('송파', '살인', '검거', 6)
('송파', '강도', '발생', 13)
('송파', '강도', '검거', 17)
('송파', '강간,추행', '발생', 287)
('송파', '강간,추행', '검거', 235)
('송파', '절도', '발생', 2429)
('송파', '절도', '검거', 1006)
('송파', '폭력', '발생', 2675)
('송파', '폭력', '검거', 2280)
('노원', '살인', '발생', 4)
('노원', '살인', '검거', 3)
('노원', '강도', '발생', 3)
('노원', '강도', '검거', 3)
('노원', '강간,추행', '발생', 169)
('노원', '강간,추행', '검거', 148)
('노원', '절도', '발생', 1404)
('노원', '절도', '검거', 646)
('노원', '폭력', '발생', 2163)
('노원', '폭력', '검거', 1781)
('방배', '살인', '발생', 1)
('방배', '살인', '검거', 1)
('방배', '강도', '발생', 1)
('방배', '강도', '검거', 1)
('방배', '강간', '발생', 63)
('방배', '강간', '검거', 50)
('방배', '절도', '발생', 348)
('방배', '절도', '검거', 159)
('방배', '폭력', '발생', 423)
('방배', '폭력', '검거', 365)
('은평', '살인', '발생', 1)
('은평', '살인', '검거', 1)
('은평', '강도', '발생', 1)
('은평', '강도', '검거', 1)
('은평', '강간,추행', '발생', 95)
('은평', '강간,추행', '검거', 74)
('은평', '절도', '발생', 839)
('은평', '절도', '검거', 434)
('은평', '폭력', '발생', 1092)
('은평', '폭력', '검거', 956)
('도봉', '살인', '발생', 0)
('도봉', '살인', '검거', 0)
('도봉', '강도', '발생', 2)
('도봉', '강도', '검거', 2)
('도봉', '강간', '발생', 82)
('도봉', '강간', '검거', 87)
('도봉', '절도', '발생', 861)
('도봉', '절도', '검거', 379)
('도봉', '폭력', '발생', 1234)
('도봉', '폭력', '검거', 1022)
('수서', '살인', '발생', 1)
('수서', '살인', '검거', 2)
('수서', '강도', '발생', 2)
('수서', '강도', '검거', 1)
('수서', '강간,추행', '발생', 195)
('수서', '강간,추행', '검거', 194)
('수서', '절도', '발생', 1010)
('수서', '절도', '검거', 475)
('수서', '폭력', '발생', 1394)
('수서', '폭력', '검거', 1200)

In [44]:
row

구분        수서
죄종        폭력
발생검거      검거
건수      1200
Name: 309, dtype: object

In [46]:
cursor.execute("select * from crime_status")

result = cursor.fetchall()
for row in result:
    print(row)

(2020, '중부', '살인', '발생', 1)
(2020, '중부', '살인', '검거', 1)
(2020, '중부', '강도', '발생', 3)
(2020, '중부', '강도', '검거', 4)
(2020, '중부', '강간,추행', '발생', 113)
(2020, '중부', '강간,추행', '검거', 76)
(2020, '중부', '절도', '발생', 943)
(2020, '중부', '절도', '검거', 495)
(2020, '중부', '폭력', '발생', 997)
(2020, '중부', '폭력', '검거', 830)
(2020, '종로', '살인', '발생', 9)
(2020, '종로', '살인', '검거', 6)
(2020, '종로', '강도', '발생', 4)
(2020, '종로', '강도', '검거', 4)
(2020, '종로', '강간,추행', '발생', 115)
(2020, '종로', '강간,추행', '검거', 93)
(2020, '종로', '절도', '발생', 602)
(2020, '종로', '절도', '검거', 284)
(2020, '종로', '폭력', '발생', 964)
(2020, '종로', '폭력', '검거', 792)
(2020, '남대문', '살인', '발생', 1)
(2020, '남대문', '살인', '검거', 1)
(2020, '남대문', '강도', '발생', 2)
(2020, '남대문', '강도', '검거', 2)
(2020, '남대문', '강간,추행', '발생', 73)
(2020, '남대문', '강간,추행', '검거', 52)
(2020, '남대문', '절도', '발생', 699)
(2020, '남대문', '절도', '검거', 368)
(2020, '남대문', '폭력', '발생', 579)
(2020, '남대문', '폭력', '검거', 494)
(2020, '서대문', '살인', '발생', 3)
(2020, '서대문', '살인', '검거', 3)
(2020, '서대문', '강도', '발생', 2)
(2020, '서대문', '강도', '검거', 1)
(2020, '서대문', '강간,추행', '발생', 159)
(2020, '서대문', '강간,추행', '검거', 149)
(2020, '서대문', '절도', '발생', 1077)
(2020, '서대문', '절도', '검거', 524)
(2020, '서대문', '폭력', '발생', 1292)
(2020, '서대문', '폭력', '검거', 1029)
(2020, '혜화', '살인', '발생', 0)
(2020, '혜화', '살인', '검거', 0)
(2020, '혜화', '강도', '발생', 3)
(2020, '혜화', '강도', '검거', 3)
(2020, '혜화', '강간,추행', '발생', 77)
(2020, '혜화', '강간,추행', '검거', 53)
(2020, '혜화', '절도', '발생', 581)
(2020, '혜화', '절도', '검거', 310)
(2020, '혜화', '폭력', '발생', 747)
(2020, '혜화', '폭력', '검거', 628)
(2020, '용산', '살인', '발생', 5)
(2020, '용산', '살인', '검거', 3)
(2020, '용산', '강도', '발생', 6)
(2020, '용산', '강도', '검거', 6)
(2020, '용산', '강간,추행', '발생', 230)
(2020, '용산', '강간,추행', '검거', 186)
(2020, '용산', '절도', '발생', 1111)
(2020, '용산', '절도', '검거', 534)
(2020, '용산', '폭력', '발생', 1617)
(2020, '용산', '폭력', '검거', 1327)
(2020, '성북', '살인', '발생', 0)
(2020, '성북', '살인', '검거', 0)
(2020, '성북', '강도', '발생', 2)
(2020, '성북', '강도', '검거', 2)
(2020, '성북', '강간', '발생', 95)
(2020, '성북', '강간', '검거', 77)
(2020, '성북', '절도', '발생', 439)
(2020, '성북', '절도', '검거', 233)
(2020, '성북', '폭력', '발생', 672)
(2020, '성북', '폭력', '검거', 610)
(2020, '동대문', '살인', '발생', 10)
(2020, '동대문', '살인', '검거', 8)
(2020, '동대문', '강도', '발생', 6)
(2020, '동대문', '강도', '검거', 5)
(2020, '동대문', '강간,추행', '발생', 161)
(2020, '동대문', '강간,추행', '검거', 142)
(2020, '동대문', '절도', '발생', 1440)
(2020, '동대문', '절도', '검거', 713)
(2020, '동대문', '폭력', '발생', 1784)
(2020, '동대문', '폭력', '검거', 1597)
(2020, '마포', '살인', '발생', 9)
(2020, '마포', '살인', '검거', 8)
(2020, '마포', '강도', '발생', 4)
(2020, '마포', '강도', '검거', 3)
(2020, '마포', '강간,추행', '발생', 348)
(2020, '마포', '강간,추행', '검거', 287)
(2020, '마포', '절도', '발생', 1483)
(2020, '마포', '절도', '검거', 679)
(2020, '마포', '폭력', '발생', 1844)
(2020, '마포', '폭력', '검거', 1557)
(2020, '영등포', '살인', '발생', 7)
(2020, '영등포', '살인', '검거', 4)
(2020, '영등포', '강도', '발생', 6)
(2020, '영등포', '강도', '검거', 5)
(2020, '영등포', '강간,추행', '발생', 315)
(2020, '영등포', '강간,추행', '검거', 252)
(2020, '영등포', '절도', '발생', 2188)
(2020, '영등포', '절도', '검거', 953)
(2020, '영등포', '폭력', '발생', 2701)
(2020, '영등포', '폭력', '검거', 2157)
(2020, '성동', '살인', '발생', 5)
(2020, '성동', '살인', '검거', 5)
(2020, '성동', '강도', '발생', 3)
(2020, '성동', '강도', '검거', 3)
(2020, '성동', '강간,추행', '발생', 115)
(2020, '성동', '강간,추행', '검거', 98)
(2020, '성동', '절도', '발생', 1016)
(2020, '성동', '절도', '검거', 565)
(2020, '성동', '폭력', '발생', 1223)
(2020, '성동', '폭력', '검거', 1103)
(2020, '동작', '살인', '발생', 1)
(2020, '동작', '살인', '검거', 1)
(2020, '동작', '강도', '발생', 1)
(2020, '동작', '강도', '검거', 2)
(2020, '동작', '강간,추행', '발생', 226)
(2020, '동작', '강간,추행', '검거', 121)
(2020, '동작', '절도', '발생', 1341)
(2020, '동작', '절도', '검거', 592)
(2020, '동작', '폭력', '발생', 1631)
(2020, '동작', '폭력', '검거', 1370)
(2020, '광진', '살인', '발생', 2)
(2020, '광진', '살인', '검거', 2)
(2020, '광진', '강도', '발생', 4)
(2020, '광진', '강도', '검거', 4)
(2020, '광진', '강간,추행', '발생', 255)
(2020, '광진', '강간,추행', '검거', 224)
(2020, '광진', '절도', '발생', 1664)
(2020, '광진', '절도', '검거', 874)
(2020, '광진', '폭력', '발생', 1676)
(2020, '광진', '폭력', '검거', 1407)
(2020, '서부', '살인', '발생', 3)
(2020, '서부', '살인', '검거', 3)
(2020, '서부', '강도', '발생', 3)
(2020, '서부', '강도', '검거', 2)
(2020, '서부', '강간,추행', '발생', 76)
(2020, '서부', '강간,추행', '검거', 71)
(2020, '서부', '절도', '발생', 532)
(2020, '서부', '절도', '검거', 322)
(2020, '서부', '폭력', '발생', 748)
(2020, '서부', '폭력', '검거', 667)
(2020, '강북', '살인', '발생', 9)
(2020, '강북', '살인', '검거', 8)
(2020, '강북', '강도', '발생', 5)
(2020, '강북', '강도', '검거', 4)
(2020, '강북', '강간,추행', '발생', 159)
(2020, '강북', '강간,추행', '검거', 132)
(2020, '강북', '절도', '발생', 780)
(2020, '강북', '절도', '검거', 490)
(2020, '강북', '폭력', '발생', 1817)
(2020, '강북', '폭력', '검거', 1625)
(2020, '금천', '살인', '발생', 4)
(2020, '금천', '살인', '검거', 4)
(2020, '금천', '강도', '발생', 7)
(2020, '금천', '강도', '검거', 6)
(2020, '금천', '강간,추행', '발생', 117)
(2020, '금천', '강간,추행', '검거', 93)
(2020, '금천', '절도', '발생', 999)
(2020, '금천', '절도', '검거', 553)
(2020, '금천', '폭력', '발생', 1471)
(2020, '금천', '폭력', '검거', 1310)
(2020, '중랑', '살인', '발생', 10)
(2020, '중랑', '살인', '검거', 9)
(2020, '중랑', '강도', '발생', 5)
(2020, '중랑', '강도', '검거', 6)
(2020, '중랑', '강간,추행', '발생', 183)
(2020, '중랑', '강간,추행', '검거', 153)
(2020, '중랑', '절도', '발생', 1506)
(2020, '중랑', '절도', '검거', 889)
(2020, '중랑', '폭력', '발생', 2022)
(2020, '중랑', '폭력', '검거', 1724)
(2020, '강남', '살인', '발생', 5)
(2020, '강남', '살인', '검거', 3)
(2020, '강남', '강도', '발생', 12)
(2020, '강남', '강도', '검거', 10)
(2020, '강남', '강간,추행', '발생', 513)
(2020, '강남', '강간,추행', '검거', 433)
(2020, '강남', '절도', '발생', 1941)
(2020, '강남', '절도', '검거', 1016)
(2020, '강남', '폭력', '발생', 2283)
(2020, '강남', '폭력', '검거', 1911)
(2020, '관악', '살인', '발생', 12)
(2020, '관악', '살인', '검거', 12)
(2020, '관악', '강도', '발생', 3)
(2020, '관악', '강도', '검거', 3)
(2020, '관악', '강간,추행', '발생', 403)
(2020, '관악', '강간,추행', '검거', 351)
(2020, '관악', '절도', '발생', 2229)
(2020, '관악', '절도', '검거', 1137)
(2020, '관악', '폭력', '발생', 2614)
(2020, '관악', '폭력', '검거', 2355)
(2020, '강서', '살인', '발생', 10)
(2020, '강서', '살인', '검거', 9)
(2020, '강서', '강도', '발생', 6)
(2020, '강서', '강도', '검거', 5)
(2020, '강서', '강간,추행', '발생', 265)
(2020, '강서', '강간,추행', '검거', 222)
(2020, '강서', '절도', '발생', 1689)
(2020, '강서', '절도', '검거', 1070)
(2020, '강서', '폭력', '발생', 2445)
(2020, '강서', '폭력', '검거', 2087)
(2020, '강동', '살인', '발생', 3)
(2020, '강동', '살인', '검거', 3)
(2020, '강동', '강도', '발생', 15)
(2020, '강동', '강도', '검거', 14)
(2020, '강동', '강간,추행', '발생', 188)
(2020, '강동', '강간,추행', '검거', 167)
(2020, '강동', '절도', '발생', 1640)
(2020, '강동', '절도', '검거', 781)
(2020, '강동', '폭력', '발생', 1942)
(2020, '강동', '폭력', '검거', 1697)
(2020, '종암', '살인', '발생', 4)
(2020, '종암', '살인', '검거', 4)
(2020, '종암', '강도', '발생', 1)
(2020, '종암', '강도', '검거', 0)
(2020, '종암', '강간', '발생', 47)
(2020, '종암', '강간', '검거', 44)
(2020, '종암', '절도', '발생', 549)
(2020, '종암', '절도', '검거', 347)
(2020, '종암', '폭력', '발생', 758)
(2020, '종암', '폭력', '검거', 630)
(2020, '구로', '살인', '발생', 6)
(2020, '구로', '살인', '검거', 6)
(2020, '구로', '강도', '발생', 5)
(2020, '구로', '강도', '검거', 5)
(2020, '구로', '강간,추행', '발생', 197)
(2020, '구로', '강간,추행', '검거', 142)
(2020, '구로', '절도', '발생', 1763)
(2020, '구로', '절도', '검거', 1008)
(2020, '구로', '폭력', '발생', 2204)
(2020, '구로', '폭력', '검거', 1823)
(2020, '서초', '살인', '발생', 4)
(2020, '서초', '살인', '검거', 4)
(2020, '서초', '강도', '발생', 5)
(2020, '서초', '강도', '검거', 3)
(2020, '서초', '강간,추행', '발생', 333)
(2020, '서초', '강간,추행', '검거', 253)
(2020, '서초', '절도', '발생', 1673)
(2020, '서초', '절도', '검거', 801)
(2020, '서초', '폭력', '발생', 1750)
(2020, '서초', '폭력', '검거', 1415)
(2020, '양천', '살인', '발생', 5)
(2020, '양천', '살인', '검거', 5)
(2020, '양천', '강도', '발생', 3)
(2020, '양천', '강도', '검거', 3)
(2020, '양천', '강간', '발생', 109)
(2020, '양천', '강간', '검거', 90)
(2020, '양천', '절도', '발생', 1517)
(2020, '양천', '절도', '검거', 718)
(2020, '양천', '폭력', '발생', 1582)
(2020, '양천', '폭력', '검거', 1270)
(2020, '송파', '살인', '발생', 6)
(2020, '송파', '살인', '검거', 6)
(2020, '송파', '강도', '발생', 13)
(2020, '송파', '강도', '검거', 17)
(2020, '송파', '강간,추행', '발생', 287)
(2020, '송파', '강간,추행', '검거', 235)
(2020, '송파', '절도', '발생', 2429)
(2020, '송파', '절도', '검거', 1006)
(2020, '송파', '폭력', '발생', 2675)
(2020, '송파', '폭력', '검거', 2280)
(2020, '노원', '살인', '발생', 4)
(2020, '노원', '살인', '검거', 3)
(2020, '노원', '강도', '발생', 3)
(2020, '노원', '강도', '검거', 3)
(2020, '노원', '강간,추행', '발생', 169)
(2020, '노원', '강간,추행', '검거', 148)
(2020, '노원', '절도', '발생', 1404)
(2020, '노원', '절도', '검거', 646)
(2020, '노원', '폭력', '발생', 2163)
(2020, '노원', '폭력', '검거', 1781)
(2020, '방배', '살인', '발생', 1)
(2020, '방배', '살인', '검거', 1)
(2020, '방배', '강도', '발생', 1)
(2020, '방배', '강도', '검거', 1)
(2020, '방배', '강간', '발생', 63)
(2020, '방배', '강간', '검거', 50)
(2020, '방배', '절도', '발생', 348)
(2020, '방배', '절도', '검거', 159)
(2020, '방배', '폭력', '발생', 423)
(2020, '방배', '폭력', '검거', 365)
(2020, '은평', '살인', '발생', 1)
(2020, '은평', '살인', '검거', 1)
(2020, '은평', '강도', '발생', 1)
(2020, '은평', '강도', '검거', 1)
(2020, '은평', '강간,추행', '발생', 95)
(2020, '은평', '강간,추행', '검거', 74)
(2020, '은평', '절도', '발생', 839)
(2020, '은평', '절도', '검거', 434)
(2020, '은평', '폭력', '발생', 1092)
(2020, '은평', '폭력', '검거', 956)
(2020, '도봉', '살인', '발생', 0)
(2020, '도봉', '살인', '검거', 0)
(2020, '도봉', '강도', '발생', 2)
(2020, '도봉', '강도', '검거', 2)
(2020, '도봉', '강간', '발생', 82)
(2020, '도봉', '강간', '검거', 87)
(2020, '도봉', '절도', '발생', 861)
(2020, '도봉', '절도', '검거', 379)
(2020, '도봉', '폭력', '발생', 1234)
(2020, '도봉', '폭력', '검거', 1022)
(2020, '수서', '살인', '발생', 1)
(2020, '수서', '살인', '검거', 2)
(2020, '수서', '강도', '발생', 2)
(2020, '수서', '강도', '검거', 1)
(2020, '수서', '강간,추행', '발생', 195)
(2020, '수서', '강간,추행', '검거', 194)
(2020, '수서', '절도', '발생', 1010)
(2020, '수서', '절도', '검거', 475)
(2020, '수서', '폭력', '발생', 1394)
(2020, '수서', '폭력', '검거', 1200)

In [49]:
df = pd.DataFrame(result)
df.head()

      0   1      2   3    4
0  2020  중부     살인  발생    1
1  2020  중부     살인  검거    1
2  2020  중부     강도  발생    3
3  2020  중부     강도  검거    4
4  2020  중부  강간,추행  발생  113

In [50]:
remote.close()